.personal-activo-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #212631;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.personal-activo-title {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.personal-activo-table {
  width: 100%;
  border-collapse: collapse;
}

.personal-activo-table th,
.personal-activo-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ffffff;
}

.personal-activo-table th {
  background-color: #517991;
  color: #ffffff;
}

.personal-activo-table tr:nth-child(even) {
  background-color: #212631;
}

.personal-activo-table tr:hover {
  background-color: #0080ff;
}